body {
    background-color: #005858;
}
h1,h2,h3,h4,h5,h6,label {
    color: #ff8355;
}
section {
    padding: 0 15%;
}
li.error {
    list-style: none;
    color: #e54747;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}