<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="container-fluid">
        <h1>Hello Courses</h1>
        <hr>
        <section>
            <h2>Are you sure you want to delete the following course?</h2>
            <p><strong>Name:</strong> {{ course.name }}</p>
            <p><strong>Description:</strong> {{ course.description }}</p>
            <a class="btn btn-primary" href="/">No</a> <a class="btn btn-danger" href="/{{ course.id }}/delete">Delete</a>
        </section>
    </div>
</body>
</html>